.DS_Store
.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
*_table
run.info
samples.table
Figures for committee meeting.R
*.rds
*.RDS
*.txt
*.pdf
*.jpeg
*.png
*.tiff
*.pptx
*.csv
*.xlsx
figures/*
